{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}    
{% block body %}


<section class="about_section layout_padding mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="detail-box">
          <div class="custom_heading-container">
            <h2>
              Editar servicio
            </h2>
          </div>

          <p>
            
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
               {{ form.as_p }} 
              
             
              <button type="submit" class="btn btn-primary">Aceptar</button>
              <a href="../" type="submit" class="btn btn-primary">Volver</a>
             
            </form>
            
          </p>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}