{% extends "app/base.html" %}
{% load static %}
{% block body %}
<section class="about_section layout_padding mt-5" style="padding-top: 5px;">
  <div class="container">
    
      <h2>
        Lista de productos
       </h2>
      
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio de Costo</th>
                  <th scope="col">Precio de venta</th>  
                  <th scope="col">Fecha de compra</th>       
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for p in object_list %}
                <tr>
                  <th scope="row">{{p.id}}</th>
                  <td>{{p.nombre}}</td>
                  {% if p.cantidad < 3 %}
                  <td style="color: red; font-weight: bold; ">{{p.cantidad}}</td>
                  {% else %}
                  <td>{{p.cantidad}}</td>
                  {% endif %}
                 
                  <td>${{p.precio_costo}}</td>
                  <td>${{p.precio_venta}}</td>
                  <td>{{p.fecha_compra}}</td>   
                  <td>
                    <form method="POST" action="listaproductos/eliminar/{{p.id}}">
                      {% csrf_token %}
                      <div class="btn-group">
                         
                      <a href="{% url 'editarproducto' p.id %}" title="Editar" type="button" class="btn btn-primary">Editar </a> 
                      <hr>
                      <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                          Eliminar
                        </button>
                      
                      </button>
                      </div>
                      </form>
                  </td>     
                  
                </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
      
      <div class="col-md-5">
        <div class="detail-box">
          <div class="custom_heading-container">
            
          </div>

          <p>
            
            <p>
     
      </p>
            
          </p>
          <div>
            
          </div>
        </div>
      </div>
    
  </div>
</section>

{% endblock %}