<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="text/javascript">
    
    function cargar(){
      var cantidad=document.getElementById("cantidad").value
      var fecha=document.getElementById("start").value
      if(cantidad=='' || fecha ==''){
        console.log("asdasdas")
        alert("Error!! Verificar fecha o cantidad ingresada")
        return false
      } 
      else return true
    }
    
  </script>
  

</head>
<body>
  {% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">

{% block body %}

<div class="col d-flex justify-content-center align-items-center ">

</div>


</div>

<section class="about_section layout_padding mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="detail-box">
          <div class="custom_heading-container">
            <h2>
             Registrar venta de producto
            </h2>
          </div>

          <p>
            
            <form method="post" class="col-8" novalidate>
              {% csrf_token %}
              Producto: <br>
                  <select name="respuesta">
                  {% for p in productos %}
                 
                      <option value="{{p.nombre}}">{{p.nombre}}</option>
                     
                   
                   
                {% endfor %}
              </select> <br>
                  <label for="cantidad">Cantidad vendida:</label> <br>
                    <input type="number"  id="cantidad" name="cantidad" min="1" max="20"  > <br>
                    <label for="start">Fecha de venta:</label>
          
          <input type="date" id="start" name="fecha"
                 
                 min="2021-01-01" max="2021-12-31">
              
                <input type="submit" onclick="return cargar();" class="btn btn-info" value="Enviar">
              
            </form>
            
          </p>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

</body>
</html>
